Source: android-tools
Section: libs
Priority: optional
Maintainer: mhduiy
Build-Depends:
 debhelper-compat ( =12),
 cmake,
 extra-cmake-modules,
 build-essential,
 qt6-base-dev,
 qt6-declarative-dev,
 qt6-declarative-private-dev,
 qt6-base-dev-tools,
 qt6-tools-dev,
 qtquickcontrols2-5-dev,
 qml6-module-qtquick-layouts,
 qml6-module-qtquick-window,
 qml6-module-qt-labs-platform,
 libopengl-dev,
 libgl-dev,
 libxkbcommon-dev,
 libxkbfile-dev,
 libgl1-mesa-dev,
 libglu1-mesa-dev,
 mesa-common-dev,
 libvulkan-dev,
 libqt6websockets6-dev,
 ppmpeg

Standards-Version: 0.0.1


Package: android-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: AndroidTools
 A cross platform Android toolbox developed using Qt based on ADB tools
